<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="css/page.css"/>
    <% include ../partials/includes %>
  </head>
  <body>
    <% include ../partials/nav %>
    <div class="homeImg">
        <div class="homeDiv center">
            <h1 class="titleMain">Welcome:</h1>
            <h3>Shubh is an enthusiastic hobbyist with proven ability to execute challenging multidisciplinary projects</h3>
        </div>
        
    </div>

    <div class="container-fluid aboutMe" >
        <div class="container aboutMe">
            <div class="row rowPad" >
                <div class="col-md-4">
                    <img src="/images/phto2.jpg" class="circleImg"></img>
                </div>
                <div class="col-md-8">
                    <p class="pad20">Shubh Pachchigar is an Electrical Engineering student, currently in the third year.

His skills include Programming in Java, C, C++, Python, HTML5, Javascript and many more. He has knowledge about various algorithms and can implement using the above languages. He also know Web Development through CS50 course provided by Harvard University. Also worked on AWS and did mobile app Development. Being in electrical he has learned a lot about time management to focus on his interests in Computer Science.

He has made various projects including Java Application, Python web-based Application, web applications using Twitter, Google Maps, Youtube APIs. Also he did some small side projects including various problem statements like a password generator, shortest path generator and made few games in python.

CS50 course gave me a glimpse of modern web development and would like to work on projects for the same.
Besides all this, I am a profound reader and I love music and exploring nature.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid softwareImg">
        <div class="container softwareDiv">
            <h1 class="leftTitle subTitle white" style="padding-top: 0px">SKILLS</h1>
            <div class="row">
                <div class="col-md-6 tilePadWide softTileBack col1Pad">
                    <h3 class="white regTitle cenX">AWS</h3>
                    <h5 class="tileDesc subPmin white">Cloud Evangelism through serverless architectures</h5>
                    <ul class="centerLinks">
                        <li style="display:inline-block;">
                            <a href="software/timelapse-auto-ramp"><p style="border-width:0px" id="PSDPlug">Mashup with Finance</p></a>
                        </li>
                        <li class="brText"><p>|</p></li>
                        <li style="display:inline-block;">
                            <a href="/software#top"><p>View all projects</p></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 tilePadWide softTileBack col2Pad">
                    <h3 class="white regTitle cenX">Python</h3>
                    <h5 class="tileDesc subPmin white">3 years in developing back-end web application</h5>
                    <ul class="centerLinks">
                        <li style="display:inline-block;">
                            <a href="software/pathfinding"><p style="border-width:0px" id="pathLink"></p>Sentiment Analyzer</a>
                        </li>
                        <li class="brText"><p>|</p></li>
                        <li style="display:inline-block;">
                            <a href="software#top"><p>View all projects</p></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 tilePadWide softTileBack col1Pad">
                    <h3 class="white regTitle cenX">Tensorflow</h3>
                    <h5 class="tileDesc subPmin white">Building ML models for classification, perception, understanding, discovering, prediction and creation.</h5>
                    <ul class="centerLinks">
                        <li style="display:inline-block;">
                            <a href="electronics/air-conditioner-DIY"><p style="border-width:0px">Trash Classifier</p></a>
                        </li>
                        <li class="brText"><p>|</p></li>
                        <li style="display:inline-block;">
                            <a href="software#top"><p>View all projects</p></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 tilePadWide softTileBack col2Pad">
                    <h3 class="white regTitle cenX">NodeJS</h3>
                    <h5 class="tileDesc subPmin white">It's used for traditional web sites and back-end API services, but was designed with real-time, push-based architectures in mind</h5>
		    <ul class="centerLinks">
                        <li style="display:inline-block;">
                            <a href="software/pathfinding"><p style="border-width:0px" id="pathLink"></p>My Website</a>
                        </li>
                        <li class="brText"><p>|</p></li>
                        <li style="display:inline-block;">
                            <a href="software#top"><p>View all projects</p></a>
                        </li>
                    </ul>
                </div>
                <a class="btn btn-outline-secondary btn-lg centerBtn" href="software" role="button">Learn More</a>
            </div>
        </div>
    </div>

    <div class="container-fluid electronicsBack">
        <div class="container extraSpace">
            <h2 class="centerTitle subTitle padX0 padtop0">Twitter</h2>
            <div class="row">
                <div class="col-lg-4 tilePadWide">
                    <div>
                        <h3 class= "cenX subTitle padX0">RFID Door Access</h3>
                        <h5 class="tileDesc subPmin">A proximity card with a unique ID number incorporated in it.The workers can be allowed in a particular doorway as per the designation. The entry control is used at this end.</h5>
                    </div>
                </div>
                <div class="col-lg-4 tilePadWide">
                    <div>
                        <h3 class="cenX subTitle padX0">Automatic Solar Tracker</h3>
                        <h5 class="tileDesc subPmin">This begins to follow the SUN exactly from sunrise, all through the day, till sunset, and begins the work all over again from sunrise next day.</h5>
                    </div>
                </div>
                <div class="col-lg-4 tilePadWide">
                    <div>
                        <h3 class="cenX subTitle padX0">FingerPrint Based Security</h3>
                        <h5 class="tileDesc subPmin">In this project the finger print sensor reads the thumb print of the related individual and that copy will be contrasted with the image registered prior</h5>
                    </div>
                </div>
                <a class="btn btn-secondary btn-lg centerBtn" href="electronics" role="button">Learn More</a>

            </div>
        </div>
    </div>

    <div class="container-fluid videoBack">
        <div class="container padY60 padX0">
            <h2 class="leftTitle whiteText subTitle padtop0">Reading</h2>
            <div class="row">
                <div class="col-lg-2 tilePadMin">
                    <div class="centerDiv">
                        <h3 class=" tileTitle whiteText" style="display:block">Haruki Murakami</h3>
                        <h5 class="tileDesc whiteText">Kafka on the Shore</h5>
                    </div>
                </div>
                <div class="col-lg-2 tilePadMin">
                    <div class="centerDiv">
                        <h3 class="tileTitle whiteText" style="display:block">Michael J. Casey</h3>
                        <h5 class="tileDesc whiteText">Shoe Dog</h5>
                    </div>
		
                <a class="btn btn-lg centerBtn learnFilmsBtn" href="films" role="button">Learn More</a>
            </div>
        </div>
    </div>


    <% include ../partials/footer %>
    <script src="includes/jquery.min.js"></script>
    <!-- Odometr includes -->
    <link rel="stylesheet" href="includes/odometer-theme-default.css"/>
    <script src="includes/odometer.js"></script>
    <script type="text/javascript" src="scripts/main.js"></script>
  </body>
</html>
